// Your custom style

/* TEMPLATE STYLES */

/* Necessary for full page carousel*/

html,
body,
.view {
  //height: 100%;
}

/* Navigation*/
.navbar {
  //background-color: rgba(2, 119, 189, 0.9);
  //background-color: rgba(0,0,0,1);
  background-color: #1C2331;
}

.main-background {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 6px;
}

.scrolling-navbar {
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
  background-color: #1C2331;
}

footer.page-footer {
  background-color: #1C2331;
  margin-top: 0;
}

.navbar .btn-group .dropdown-menu a:hover {
  color: #000 !important;
}

.navbar .nav-item .dropdown-menu a:hover {
  color: #000 !important;
}

.navbar .btn-group .dropdown-menu a:active {
  color: #fff !important;
}

.test {
  background: blue;
}

.bg-purple-gradient-transparency {
  background: -webkit-linear-gradient(50deg, rgba(255, 110, 196, .5), rgba(120, 115, 245, .5));
  background: linear-gradient(40deg, rgba(255, 110, 196, .5), rgba(120, 115, 245, .5));
}

.card .btn-action {
  margin: 20px 20px 20px auto;
  background-color: #929fba;
  height: 47px;
  width: 47px;
  line-height: 0;
}

.btn-floating {
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  width: 47px;
  height: 47px;
  padding: 0;
  border-radius: 50%;
  margin: 10px;
  background-color: #a6c;
  color: #fff;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-floating i {
  display: inline-block;
  width: inherit;
  color: #fff;
  font-size: 1.25rem;
  line-height: 47px;
  text-align: center;
}

.card .card-data {
  background-color: #929fba;
  color: #fff;
  text-align: center;
  height: auto;
  padding: 10px;
}