/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 14/09/2018, 13:22:25
    Author     : ricardo.filho
*/

body{
}

hr{
  display: block;
  unicode-bidi: isolate;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  height: 0;
  border: 1px solid rgb(150, 178, 62);
  background-color: rgb(150, 178, 62);
}

.text-maxima-blue{
  color: #01427a;
}

main{

}

.logo-maxima{
  max-width: 50%;
}

.login-box{
  margin-top: 50px;
}

.copyright{
  position: relative;
  top: 50px;
}

